/*顶部导航栏布局=======================开始*/
.nav{
    height:44px;
    border-bottom: 2px solid #B42223;
    /*background-color: pink;*/
}
/*左侧全部商品分类部分*/
.nav .category{
    /*加入代码开始===*/
 width: 210px;
    height: 44px;
    background-color: #B1191A;
    float: left;
    z-index: 2;
    position: relative;
 /*加入代码结束===*/
}
.nav .category .cate-dt{
    width:200px;
    height:44px;
    background-color: #B1191A;
    padding-left: 10px;
}
.nav .category a{
    font:400 16px/44px "microsoft yahei";
    color: #fff;
    display: block;
    float: left;
}
/* 全部商品分类下部分   */
.cate-dd{
    width: 209px;
    height:470px;
    background-color: #C81623;
    border-left:1px solid #B61D1D;
    margin-top:2px;
    
   /* position: relative;=====这里加这行代码没用*/        /*不能设置relative，可以设置absolute*/
   /* z-index:3;  这行没有=====*/
}
.cate-dd .cate-item{
    height:31px;
    line-height:31px;
    position: relative;
}
.cate-dd .cate-item h3{       /*设置padding值不起作用*/
    padding-left:10px;
}
.cate-dd .cate-item a{
    font:400 14px/31px "microsoft yahei";
    color: #fff;
}
.cate-dd .cate-item i{
    font:400 9px/14px "consolas";
    color: #fff;
    position: absolute;
    top:9px;
    right:12px;
}

/*右侧导航栏部分*/
.nav .navitems{
    float: left;
}
.nav .navitems li{
    float:left;
    position: relative;
}
.nav .navitems a{
    font:400 16px/44px "microsoft yahei";
    display: block;
    padding:0 20px;
}
.navitems i{
    width:36px;
    height:18px;
    background: url("../images/57cd2852N89da6ac5.jpeg")0 0 no-repeat;
    position: absolute;
    top:-2px;
    right:-15px;
}
/*顶部导航栏布局=======================结束*/

/*中间主体部分布局===================开始*/
.main{
    height:470px;
    /*background-color: pink;*/
}
/*设置轮播图样式*/
.slider{
    width:730px;
    height:454px;
    /*background-color: red;*/
    margin-top: 12px;
    margin-left:220px;        /*会把轮播图挤下去*/
    float: left;
    position: relative;
}
.slider ul{
    /*width:128px;*/
    /*height:20px;*/
    /*background-color: red;*/
    position: absolute;
    left:50%;
    margin-left: -64px;
    bottom:0;
}
.slider ul li{
    width:18px;
    height:18px;
    text-align: center;
    background-color: #3E3E3E;
    border-radius: 9px;
    margin-right: 4px;
    float: left;

}
.slider ul .sl2{
    background-color: #C81623;
}
/*左右双焦点*/
.arrow a{
    width:28px;
    height:62px;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top:50%;
    margin-top: -31px;
    font:400 22px/62px "simsun";
    text-align: center;
}
.arrow-left{
    left:0;
}
.arrow-right{
    right:0;
}
/*设置额外部分样式*/
.extra{
    width:250px;
    /*height:470px;*/
    /*background-color: green;*/
    margin-top: 12px;
    float: right;

}
/*上面新闻部分*/
.news{
    width:248px;
    height:163px;
    /*background-color: pink;*/
    border:1px solid #E4E4E4;
    border-bottom:none;
}
.news .news-mt{
    width:248px;
    height:32px;
    border:1px dashed #E8E8E7;
    position: relative;
}
.news .news-mt h2{
    font:400 16px/32px "microsoft yahei";
    padding-left:15px;
}
.news .news-mt .extra-a{
    position: absolute;
    top:7px;
    right:12px;
}
.news .news-mc{
    width: 248px;
    height: 130px;
}
.news .news-mc ul{
    margin-top:5px;
    margin-left:15px;
}
.news .news-mc li{
    line-height:24px;
}
.news .news-mc li span{
    font-weight:700;
    margin-right:5px;
}
/*中间生活服务部分*/
.lifeservice{
    width:248px;
    height:208px;
    /*background-color: blue;*/
    border:1px solid #E4E4E4;
    overflow: hidden;
}
.lifeservice ul{
    width:252px;
}
.lifeservice li{
    width:62px;
    height:70px;
    text-align:center;
    border-right:1px solid #E8E8E7;
    border-bottom:1px solid #E8E8E7;
    float: left;
    position: relative;
}
.lifeservice li a{
    width:62px;
    height:28px;
    display: block;
    padding-top:42px;
}
.lifeservice li i{
    width:25px;
    height:25px;
    position: absolute;
    top:10px;
    left:16px;
    background: url("../images/57620a6fN77b2b8af.png")0 0 no-repeat;
}
.lifeservice li .ic2{
    background: url("../images/57620a6fN77b2b8af.png")0 -25px no-repeat;
}
.lifeservice li .ic3{
    background: url("../images/57620a6fN77b2b8af.png")0 -50px no-repeat;
}
.lifeservice li .ic4{
    background: url("../images/57620a6fN77b2b8af.png")0 -75px no-repeat;
}
.lifeservice li .ic5{
    background: url("../images/57620a6fN77b2b8af.png")0 -100px no-repeat;
}
.lifeservice li .ic6{
    background: url("../images/57620a6fN77b2b8af.png")0 -125px no-repeat;
}
.lifeservice li .ic7{
    background: url("../images/57620a6fN77b2b8af.png")0 -150px no-repeat;
}
.lifeservice li .ic8{
    background: url("../images/57620a6fN77b2b8af.png")0 -175px no-repeat;
}
.lifeservice li .ic9{
    background: url("../images/57620a6fN77b2b8af.png")0 -200px no-repeat;
}
.lifeservice li .ic10{
    background: url("../images/57620a6fN77b2b8af.png")0 -225px no-repeat;
}
.lifeservice li .ic11{
    background: url("../images/57620a6fN77b2b8af.png")0 -250px no-repeat;
}
.lifeservice li .ic12{
    background: url("../images/57620a6fN77b2b8af.png")0 -275px no-repeat;
}
/*下面图片部分*/
.right-pic{
    width:250px;
    height:76px;
    /*background-color: yellow;*/
    margin-top:5px;


}
/*中间主体部分布局===================结束*/
.todays{
    height:175px;
    /*background-color: red;*/
    margin-top:5px;
    margin-bottom:50px;
}

.todays .todays-left{
    width:210px;
    height:151px;
    float: left;


}
.todays .todays-right{
    width:1000px;
    height:164px;
    float: left;
}
.todays .todays-right ul{
    width:2000px;
}
.todays .todays-right li{
    float: left;
    margin-right:1px;
}
/*中间今日推荐部分===================开始*/

/*中间今日推荐部分===================结束*/