@charset "UTF-8";
/*css ��ʼ�� */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*���������ʾ��ͬ��ȥ����ɫ�߿�*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun";
}

/*ȥ�������滻Ԫ�ؿհ׷�϶*/
select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*��ֹ�϶� Ӱ�첼��*/
textarea {
    resize: none;
}

/*ȥ�������滻Ԫ�ؿհ׷�϶*/
img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*���� unicode */
    color: #666;
    background: #fff;
}

/*�������*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*����ɫ*/
.col-red {
    color: #C81623 !important;
}

/*������*/
.w {
    /*���� ��ȡ */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
/*设置顶部*/
.shortcut{
    height: 30px;
    background-color: #F1F1F1;
    line-height: 30px;
}
/*设置顶部左侧*/
/*设置倒三角*/
.shortcut .shortdown{
    position: relative;
    padding-right: 18px;
}
.shortcut .shortdown i{
    height: 8px;
    width: 15px;
    position: absolute;
    top: 13px;
    right: 0;
    overflow: hidden;
}
.shortcut .shortdown s{
    width: 15px;
    height: 16px;
    position: absolute;
    top: -14px;
    left: 2px;
}
/*设置顶部右侧*/
.shortright li{
    float: left;
    margin: 0 10px;
}
.shortcut .shortright .space{
    width: 1px;
    height: 12px;
    background-color: #DDDDDD;
    margin: 9px 0;
}
.shortcut .shortright .tel-li{
    padding-left: 15px;
    position: relative;
}
.shortcut .shortright .tel-icon{
    width: 15px;
    height: 20px;
    background: url("../images/jd2015img%20(1).png") no-repeat 0 0;
    position: absolute;
    top: 5px;
    left: -4px;
}
/*设置顶部广告栏*/
.banner{
    background-color: #1879EC;
}
.banner .ban{
    position: relative;
}
.banner .close{
    width: 19px;
    height: 19px;
    background: url("../images/5507956eN735de046.png") no-repeat 0 0;
    position: absolute;
    top: 5px;
    right: 5px;
}
.banner .close:hover{
    background: url("../images/5507956eN735de046.png") no-repeat 0 -19px;
}

/*设置logo、搜索框、搜索按钮、购物车、热词*/
.header{
    /*height: 100px;*/
}
/*设置logo*/
.header .logo{
    float: left;
    width: 362px;
    height: 60px;
    text-indent: -20000px;
    background: url("../images/logo-201305.png") no-repeat;
    margin: 20px 0;
}
/*设置搜索按钮，搜索框*/
.header .search{
    width: 538px;
    height: 36px;
    float: left;
    margin-top: 25px;
}
.header .search .txt{
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    float: left;
    padding-left: 4px;
    color: #666;
}
.header .search .button{
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    color: #fff;
}
/*设置购物车*/
.header .shoppingcar{
    width: 139px;
    height: 34px;
    float: right;
    position: relative;
    background-color: #F9F9F9;
    border: 1px solid #DFDFDF;
    margin: 25px 65px 0 0;
}
.header .shoppingcar a{
    line-height: 34px;
    padding-left: 43px;
}
.header .shoppingcar .icon1{
    width: 18px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: 18px;
    background: url("../images/jd2015img%20(1).png") no-repeat 0 -57px;
}
.header .shoppingcar .icon2{
    position: absolute;
    top: 10px;
    right: 11px;
    font: 400 13px "simsun";
}
.header .shoppingcar .icon3{
    /*width: 16px;*/
    height: 14px;
    background-color: #C81623;
    position: absolute;
    top: -5px;
    right: 17px;
    color: #fff;
    line-height: 14px;
    text-align: center;
    border-radius: 7px 7px 7px 0;
    padding: 0 4px;
}
    /*设置热词*/
.header .hotwords{

    /*height: 30px;*/
    float: left;
}
.header .hotwords li{
    float: left;
    margin-right: 11px;
    margin-top: 8px;
}

/*设置底部*/
.footer{
    /*height: 500px;*/
    /*background-color: red;*/
    margin-top: 20px;
}
/*设置第一块*/
.footer .service{
    height: 279px;
    /*background-color: green;*/
}
/*设置上半块*/
.footer .service .slogen{
    height: 54px;
    background-color: #F5F5F5;
    position: relative;
    padding: 20px 0;
}
.footer .service .slogen-item{
    position: absolute;
    left: 50%;
}
.footer .service .item1{
    margin-left: -604px;
}
.footer .service .item2{
    margin-left: -304px;
}
.footer .service .item4{
    margin-left: 304px;
}
/*设置下半块*/
.footer .service .info{
    height: 202px;
}
.footer .info dl{
    float: left;
    width: 199px;
    margin-top: 25px;
}
.footer .info dt{
    margin-bottom: 10px;
}
.footer .info .last-dl{
    width: 120px;
}
/*设置地图*/
.footer .info .map{
    width: 210px;
    height: 170px;
    margin-top: 10px;
    margin-right: 65px;
    float: right;
    background: url("../images/20130330B_1.png") no-repeat 0 -130px;
}
.footer .info .map-tit{
    font-size: 15px;
    margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 17px;
}
.footer .info .map-con{
    width: 185px;
    margin-left: 17px;
}
.info .map a{
    float: right;
}
/*设置第二块*/
.footer .buttom{
    height: 143px;
    border-top: 1px solid #E5E5E5;
    text-align: center;
    padding-top: 20px;
}
.buttom .links{
    margin-bottom: 13px;
}
.buttom .links a{
    margin: 0 12px;
}
.buttom .pic{
    margin-top: 15px;
}
.buttom .pic a{
    margin-right: 13px;
}