/*设置导航栏*/
.nav{
    height: 42px;
    line-height: 42px;
    border-bottom: 2px solid #B1191A;
    font-size: 14px;
}




/*设置左侧导航*/
.nav .left-nav{
    float: left;
/*加代码开始======*/
 width: 210px;
    height: 44px;
    background-color: #B1191A;
    float: left;
    z-index: 2;
    position: relative;
/*加代码结束======*/
}
.left-nav .tit-nav a{
    width: 200px;
    background-color: #B1191A;
    float: left;
    color: #fff;
    padding-left: 10px;
}
.nav .left-nav .list-nav{
    /*height: 470px;*/
    width: 209px;
    margin-top: 2px;
    border-left: 1px solid #B61D1D;
    background-color: #C81623;
    position: relative;
    z-index: 2;
}
.left-nav .list-nav .cate-item{
    font: 400 14px "微软雅黑";
    line-height: 31px;
    position: relative;
}
.list-nav .cate-item h3{
    margin-left: 10px;
}
.list-nav .cate-item a{
    color: #fff;
}
.list-nav .cate-item i{
    color: #fff;
    font: 400 9px/15px "微软雅黑";
    position: absolute;
    top: 8px;
    right: 12px;
}
/*设置右侧导航*/
.nav .right-nav li{
    float: left;
    padding: 0 20px;
    font-weight: 700;
}
/*设置中间主体部分*/
.main{
    height: 470px;
}
/*设置轮播*/
.main .solider{
    height: 454px;
    width: 730px;
    background-color: pink;
    margin-left: 220px;
    margin-top: 12px;
    float: left;
    position: relative;
}
/*设置小圆圈*/
.main .solider ul{
    position: absolute;
    left: 50%;
    margin-left: -64px;
    bottom: 8px;
}
.main .solider li{
    float: left;
    border-radius: 9px;
    text-align: center;
    background-color: #3E3E3E;
    margin-right: 4px;
}
.main .solider a{
    color: #fff;
    display: block;
    height: 18px;
    width: 18px;
}
.main .solider .solider-item{
    background-color: #B61B1F;
}
/*设置左右焦点层中的按钮*/
.main .solider .arrow a{
    height: 62px;
    width: 28px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 50%;
    margin-top: -31px;
    font: 400 22px/62px "宋体";
    text-align: center;
}
.solider .arrow .arrow-left{
    left: 0;
}
.solider .arrow .arrow-right{
    right: 0;
}
 /*额外的部分*/
.main .extra{
    width: 250px;
    height: 454px;
    float: right;
    margin-top: 12px;
}
/*额外部分中的新闻*/
.main .extra .news{
    height: 163px;
    width: 248px;
    /*background-color: pink;*/
    border: 1px solid #E4E4E4;
    border-bottom: none;
    position: relative;
}
.extra .news-title{
    line-height: 32px;
}
.extra h2{
    height: 32px;
    width: 248px;
    border-bottom: 1px dashed #E4E4E4;
    font: 400 16px/32px "微软雅黑";
    padding-left: 15px;
}
.extra .news-a{
    position: absolute;
    top: 0;
    right: 10px;
}
.extra .news .news-content{
    height: 124px;
    width: 233px;
    padding-top: 6px;
    line-height: 23px;
    padding-left: 15px;
}
.extra .news .news-content li{
    line-height: 24px;
}
.news .news-content span{
    margin-right: 5px;
}
/*额外部分中的生活部分*/
.main .extra .lifeserve{
    width: 248px;
    height: 208px;
    overflow: hidden;
    border: 1px solid #E8E8E7;
}
.extra .lifeserve ul{
    width: 252px;
}
.extra .lifeserve li{
    width: 62px;
    height: 70px;
    border-bottom: 1px solid #E8E8E7;
    border-right: 1px solid #E8E8E7;
    float: left;
    text-align: center;
    position: relative;
}
.extra .lifeserve a{
    width: 62px;
    height: 70px;
    float: left;
    padding-top: 40px;
}
.extra .lifeserve i{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 18px;
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 0;
}
.extra .lifeserve .icon2{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -25px;
}
.extra .lifeserve .icon3{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -50px;
}
.extra .lifeserve .icon4{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -75px;
}
.extra .lifeserve .icon5{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -100px;
}
.extra .lifeserve .icon6{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -125px;
}
.extra .lifeserve .icon7{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -150px;
}
.extra .lifeserve .icon8{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -175px;
}
.extra .lifeserve .icon9{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -200px;
}
.extra .lifeserve .icon10{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -225px;
}
.extra .lifeserve .icon11{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -250px;
}
.extra .lifeserve .icon12{
    background: url("../images/57620a6fN77b2b8af.png") no-repeat 0 -275px;
}
/*设置图片*/
.main .extra .right-pic{
    height: 75px;
    width: 250px;
    margin-top: 5px;
}