@charset "UTF-8";
/*css ��ʼ�� */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

/*���������ʾ��ͬ��ȥ����ɫ�߿�*/
fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "����";
}

/*ȥ�������滻Ԫ�ؿհ׷�϶*/
select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/*��ֹ�϶� Ӱ�첼��*/
textarea {
    resize: none;
}

/*ȥ�������滻Ԫ�ؿհ׷�϶*/
img,{
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*���� unicode */
    color: #666;
    background: #fff;
}

/*�������*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*����ɫ*/
.col-red {
    color: #C81623 !important;
}

/*������*/
.w {
    /*���� ��ȡ */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}
/*top导航开始*/
.topnav{
    background-color: #F1F1F1;
}
/*左侧地域*/
.arrow{
    width: 60px;
    padding-right:20px;
    position: relative;
    height: 30px;
    line-height: 30px;
}
.arrow i{
    width: 9px;
    height: 5px;
    position: absolute;
    top: 12px;
    right: 5px;
    /*background-color: red;*/
    overflow: hidden;
}
.arrow s{
    position: absolute;
    top: -8px;
    right: -2px;
}
/*右侧导航*/
.topr li{
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.topr .sp{
    padding: 0;
    height: 12px;
    width: 1px;
    background-color: #DDD;
    margin-top: 10px;
}
.topr .phone{
    padding-left: 27px;
}
.topr em{
    height: 20px;
    width: 15px;
    position: absolute;
    top: 5px;
    left: 10px;
    background: url("../image/jd2015img.png") no-repeat 0 0;
}
.topr em:hover{
    background: url("../image/jd2015img.png") no-repeat 0 -25px;
}
/*top导航结束*/
/*banner开始*/
.topbanner{
    height: 80px;
    background-color: #1879EC;
}
.topbanner .w{
    position: relative;
}
.topbanner a{
    width: 19px;
    height: 19px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url("../image/5507956eN735de046.png") no-repeat 0 0;
}
.topbanner a:hover{
    background: url("../image/5507956eN735de046.png") no-repeat 0 -19px;
}
/*banner结束*/
/*logo search car 开始*/
/*logo开始*/
.logo{
    float: left;
    text-indent: -2000em;
    height: 60px;
    width: 362px;
    margin: 20px 0;
    background: url("../image/logo-201305.png") no-repeat 0 0;
}
/*search开始*/
.search{
    padding-top: 25px;
}
.search .txt{
    float: left;
    width: 450px;
    height: 32px;
    border: 2px solid #C81623;
    padding-left: 4px;
}
.search .btn{
    float: left;
    height: 36px;
    width: 80px;
    background-color: #C81623;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
/*car开始*/
.car{
    width: 139px;
    height: 34px;
    border: 1px solid #DFDFDF;
    margin: 25px 65px 0 0;
    position: relative;
}
.car p{
    line-height: 34px;
    margin-left: 43px;
    margin-right: 27px;
}
.car i{
    position: absolute;
    top: 9px;
    left: 14px;
    width: 18px;
    height: 16px;
    background: url("../image/jd2015img.png") no-repeat 0 -90px;
}
.car s{
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
}
.car em{
    height: 14px;
    background-color: #C81623;
    border-radius: 7px 7px 7px 0;
    padding: 0 3px;
    color: #fff;
    position: absolute;
    line-height: 14px;
    top: -5px;
    right: 17px;
}
/*logo search car 结束*/

/*footerone 开始*/
.foot-one{
    height: 94px;
    background-color: #F5F5F5;
    padding-top: 25px;
    position: relative;
}
.foot-one img{
    position: absolute;
    left: 50%;
}
.foot-one .img1{
    margin-left: -604px;
}
.foot-one .img2{
    margin-left: -304px;
}
.foot-one .img4{
    margin-left: 305px;
}
/*footerone 结束*/
/*footertwo 开始*/
/*列表开始*/
.list dl{
    width: 199px;
    float: left;
    height: 202px;
}
.list dt{
    margin-top: 25px;
    font-size:15px;
    height: 15px;
    margin-bottom: 10px;
}
.list dd{
    height: 20px;
}
.list .last{
    width: 100px;
}
/*地图开始*/
.map{
    float: right;
    background: url("../image/20130330B_1.png") no-repeat 0 -131px;
    height: 169px;
    width: 185px;
    margin-top: 16px;
    margin-right: 40px;
    padding-left:17px;
}
.map .p1{
    margin-top: 9px;
    height: 34px;
    font-size: 14px;
}
.map .p2{
    height: 57px;
}
.map a{
    float: right;
}
/*footertwo 结束*/
/*footerthree 开始*/
.three .w{
    border-top: 1px solid #E5E5E5;
    height: 152px;
    text-align: center;
    padding-top: 23px;
}
.three a{
    padding: 0 12px;
}
.three .line1{
    margin-top: 13px;
}
.three p a{
    height: 20px;
}
.three .line2{
    margin-top: 10px;
}
.three img{
    padding-left: 13px;
}
/*footerthree 结束*/


